@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

body {
  font-family: Roboto;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 240 20.7% 8.2;
    --card-foreground: 0 0% 100%;
    --popover: 240, 28.6%, 8.2%;
    --popover-foreground: 0 0% 100%;
    --primary: 212 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 12 91% 57%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 0 0% 58.04%;
    --accent: 220.6 13.2% 46.1%;
    --accent-foreground: 220 4% 86%;
    --destructive: 4 86% 58%; /* #F04438 */
    --destructive-foreground: 0 0% 98%;
    --message: 220 43% 11%;
    --border: 0 0% 77%;
    --trigger: 240 4% 11%; /* #1B1B1D */
    --trigger-border: 0 0% 29%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --success: 130 67% 42%; /* #23B33A */
    --radius: 0.5rem;
    --divider: 228 6% 15% /*#242529 */;
    --white-secondary: 216 100% 99%; /* #FAFCFF */
    --tertiary-text: 213 5% 63%; /* #9B9FA4 */
    --menu: 0 0% 6%; /* #0F0F0F */
    --premium: 32 100% 32%; /* A15700 */
  }
  .dark {
    --background: 255 0% 0%; /* #09090b */
    --foreground: 0 0% 98%; /* #fafafa */
    --card: 220 43% 11%; /* #101828 */
    --card-foreground: 0 0% 100%; /* #ffffff */
    --popover: 240, 28.6%, 8.2%; /* #0f0f1b */
    --popover-foreground: 0 0% 100%; /* #ffffff */
    --primary: 212 100% 50%; /* #0077ff */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 12 91% 57%; /* #f5552e */
    --secondary-foreground: 0 0% 98%; /* #fafafa */
    --muted: 240 4% 11%; /* #1b1b1d */
    --muted-foreground: 0 0% 58.04%; /* #949494 */
    --accent: 220.6 13.2% 46.1%; /* #667085 */
    --accent-foreground: 220 4% 86%; /* #dadbdd */
    --destructive: 4 86% 58%; /* #F04438 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    --message: 220 43% 11%; /* #101828 */
    --border: 0 0% 77%; /* #c4c4c4 */
    --trigger: 240 4% 11%; /* #1B1B1D */
    --trigger-border: 0 0% 29%; /* #4B4B4B */
    --input: 240 3.7% 15.9%; /* #27272a */
    --ring: 240 4.9% 83.9%; /* #d4d4d8 */
    --success: 130 67% 42%; /* #23B33A */
    --divider: 228 6% 15% /*#242529 */;
    --white-secondary: 216 100% 99%; /* #FAFCFF */
    --tertiary-text: 213 5% 63%; /* #9B9FA4 */
    --menu: 0 0% 6%; /* #0F0F0F */
    --premium: 32 100% 32%; /* A15700 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .diagonal-gradient-border {
    position: relative;
    display: inline-block;
    padding: 2px; /* Adjust based on desired border width */
    border-radius: 50%;
    background: linear-gradient(
      135deg,
      hsl(var(--secondary)),
      hsl(var(--primary)),
      hsl(var(--secondary))
    );
  }
  .diagonal-gradient-border > .inner-circle {
    display: block;
    border-radius: 50%;
    background-color: hsl(240 10% 3.9%);
    padding: 2px;
  }
  .gradient-border {
    position: relative;
    display: inline-block;
    padding: 2px; /* Adjust based on desired border width */
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      hsl(var(--secondary)),
      hsl(var(--primary))
    );
  }
  .gradient-border > .inner-circle {
    display: block;
    border-radius: 50%;
    background-color: hsl(240 10% 3.9%);
    padding: 2px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animation-paused {
    animation-play-state: paused;
  }
  .animation-running {
    animation-play-state: running;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: hsl(212 100% 30%);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill {
  color: hsl(var(--background)) !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
